html {
	font-size: 100%; /*Fix a IE em BUG*/
}
body {
	font-family: "Helvetica neue", Helvetica, Verdana, Arial, sans-serif;
	font-size:0.85em;
	background: #;
	margin: 0; /* it's good practice to zero the margin and padding of the body element to account for differing browser defaults */
	padding: 0;
	text-align: center; /* this centers the container in IE 5* browsers. The text is then set to the left aligned default in the #container selector */
	color: #000000;
	line-height:1.45;
}
/*MAIN BALISE*/
h1{
}

h2{
}
div.block h2{
	font-size:1em;
}
h3{
}
a {
	text-decoration:none;
}

p{
}

table{
	width:100%;
}

/*MAIN BLOCK*/

.page #container { 
	width: 90%;
	background: #FFFFFF;
	margin: 0 auto;
	text-align: left; /* this overrides the text-align: center on the body element. */
}  
.page #header { 
	background: #DDDDDD; 
	padding: 0 10px;  /* this padding matches the left alignment of the elements in the divs that appear beneath it. If an image is used in the #header instead of text, you may want to remove the padding. */
} 

.page #navigation{
	margin:1em 0;
	background: #EEE;
}

.page #primary{
}

.page #secondary{
}

.page #main_content{
		overflow: hidden;
		padding:0 1em;
}
.page #sidebar_left {
	float: left; 
	width: 14em; /* since this element is floated, a width must be given */
	background: #EBEBEB; /* the background color will be displayed for the length of the content in the column, but no further */
	padding:0 1em;

}
.page #sidebar_right {
	float: right; 
	width: 14em; /* since this element is floated, a width must be given */
	background: #EBEBEB; /* the background color will be displayed for the length of the content in the column, but no further */
	padding:0 1em;
}


.page #footer { 
	padding: 0 1em; /* this padding matches the left alignment of the elements in the divs that appear above it. */
	background:#DDDDDD;
} 
.page #footer p {
	margin: 0; /* zeroing the margins of the first element in the footer will avoid the possibility of margin collapse - a space between divs */
	padding: 10px 0; /* padding on this element will create space, just as the the margin would have, without the margin collapse issue */
}

/* MISC classes for reuse */
.fltrt { /* this class can be used to float an element right in your page. The floated element must precede the element it should be next to on the page. */
	float: right;
}
.fltlft { /* this class can be used to float an element left in your page */
	float: left;
}
.clearfloat { 
	clear:both;
    height:0;
    font-size: 1px;
    line-height: 0px;
}
.clearfloat hr{ /*used for semantic*/
	display:none;
}
